In [1]:
#INSTALAR LIBRERIAS
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\jaque\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.3.2)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\jaque\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.10.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\jaque\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (2.3.2)
Requirement already satisfied: pandas>=1.2 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (2.3.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (3.10.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\jaque\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\jaque\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\jaque\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
##convertir archivo de excel a csv 
df.to_csv("DatosFacturación.csv")

NameError: name 'df' is not defined

In [13]:
#Convertir en dataframe
df= pd.read_csv('Datos_Facturación.csv')
df

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.00,0.0,0.0
10891,10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,504.15,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.68,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.30,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.20,0.0,0.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     10895 non-null  int64
 1   CVE_DOC        10890 non-null  object
 2   CVE_CLPV       10895 non-null  float64
 3   STATUS         10886 non-null  object
 4   CVE_VEND       10847 non-null  float64
 5   FECHAELAB      10893 non-null  object
 6   FECHA_DOC      10894 non-null  object
 7   FECHA_ENT      10893 non-null  object
 8   FECHA_VEN      10895 non-null  object
 9   FECHA_CANCELA  358 non-null    object
 10  CAN_TOT        10889 non-null  float64
 11  DES_TOT        10894 non-null  float64
 12  DES_FIN        10892 non-null  float64
dtypes: float64(5), int64(1), object(7)
memory usage: 1.1+ MB

In [32]:
#conversion de la columna 

df['CVE_CLPV'] = df['CVE_CLPV'].astype(int)

ValueError: invalid literal for int() with base 10: '0 0 0 0 0 0 060801030'

In [25]:
##eliminar un signo de la columna 


df['CVE_CLPV']=df['CVE_CLPV'].str.replace('0 0 0 0 0 0 030902060','0')

In [14]:
#Filtro por objeto
filtro1=df[(df["CVE_CLPV"] > 1000) & (df["CVE_CLPV"] <2000)]
filtro1

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,18,F29432,1965.0,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0.0
22,22,F29436,1965.0,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0.0
65,65,F29479,1240.0,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaN,4135.00,0.00,0.0
71,71,F29485,1965.0,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0.0
72,72,F29486,1965.0,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaN,976.50,146.48,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10821,10821,F40237,1757.0,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaN,10088.40,0.00,0.0
10839,10839,F40255,1583.0,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaN,3467.35,0.00,0.0
10845,10845,F40261,1786.0,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaN,4663.80,0.00,0.0
10871,10871,F40287,1453.0,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaN,9000.00,0.00,0.0
10876,10876,F40292,1082.0,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaN,3262.00,0.00,0.0

In [58]:
#Convertir archivo filtrado a CSV
filtro1.to_csv("ACTIVIDAD2EJERCICIO1.csv")

In [21]:

##patra comprobr que sean los datos que dije 
filtro2=filtro1.groupby(['CVE_CLPV'])['CVE_CLPV'].count()
filtro2

CVE_CLPV
1016.0    27
1019.0     5
1020.0    13
1053.0    17
1082.0     1
          ..
1943.0    10
1955.0     2
1965.0    90
1967.0     2
1982.0     3
Name: CVE_CLPV, Length: 65, dtype: int64

In [27]:
## para excluir 

filtro3=df[ ~((df["CVE_VEND"]==5)& (df["CVE_VEND"]==4) )]

filtro3

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.00,0.0,0.0
10891,10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,504.15,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.68,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.30,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.20,0.0,0.0

In [59]:
filtro3.to_csv("ACTIVIDAD2EJERCICIO2.csv")

In [26]:
filtro4=filtro3.groupby(['CVE_VEND'])['CVE_VEND'].count()
filtro4

CVE_VEND
1.0      959
2.0     7706
3.0      914
4.0      382
5.0      423
6.0      442
7.0        1
9.0        1
10.0       6
11.0      12
12.0       1
Name: CVE_VEND, dtype: int64

In [56]:
##3-FECHA_ENT   (Fechas de “28/02/2022”)

filtro5=df[df["FECHA_ENT"]=="28/02/2022 00:00:00"]

filtro5

Empty DataFrame
Columns: [Unnamed: 0, CVE_DOC, CVE_CLPV, STATUS, CVE_VEND, FECHAELAB, FECHA_DOC, FECHA_ENT, FECHA_VEN, FECHA_CANCELA, CAN_TOT, DES_TOT, DES_FIN]
Index: []

In [60]:
filtro5.to_csv("ACTIVIDAD2EJERCICIO3.csv")

In [36]:
filtro7=(df[(df["CAN_TOT"] >5951.7) | (df["STATUS"]=="E")])
filtro7

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
5,5,F29419,2465.0,E,1.0,2019-09-04 09:15:12.000,2019-09-04,2019-09-04 00:00:00,2019-09-19,NaN,3979.9980,0.0,0.0
7,7,F29421,6828.0,E,2.0,2019-09-04 10:56:44.000,2019-09-04,2019-09-04 00:00:00,2019-09-04,NaN,402.5900,0.0,0.0
10,10,F29424,5926.0,E,2.0,2019-09-04 12:36:15.000,2019-09-04,2019-09-03 00:00:00,2019-09-04,NaN,462.3100,0.0,0.0
11,11,F29425,5926.0,E,2.0,2019-09-04 13:03:04.000,2019-09-04,2019-09-02 00:00:00,2019-09-04,NaN,1144.4300,0.0,0.0
13,13,F29427,6829.0,E,2.0,2019-09-04 13:44:13.000,2019-09-04,2019-09-04 00:00:00,2019-09-04,NaN,157.7580,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10889,10889,F40305,4990.0,E,2.0,2023-03-06 16:06:24.050,2023-03-06,2023-03-03 00:00:00,2023-03-06,NaN,3697.2504,0.0,0.0
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.0000,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.6800,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.3000,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.2000,0.0,0.0

In [61]:
filtro7.to_csv("ACTIVIDAD2EJERCICIO4.csv")

In [43]:

#Filtro 
filtro9=df[["CVE_DOC", "FECHA_ENT", "FECHA_VEN", "CAN_TOT"]]
filtro9

      CVE_DOC            FECHA_ENT   FECHA_VEN  CAN_TOT
0      F29414  2019-09-03 00:00:00  2019-09-18  3980.00
1      F29415  2019-09-03 00:00:00  2019-10-03  1550.00
2      F29416  2019-09-03 00:00:00  2019-10-03  1550.00
3      F29417  2019-09-03 00:00:00  2019-10-03  1550.00
4      F29418  2019-09-03 00:00:00  2019-09-03  2435.44
...       ...                  ...         ...      ...
10890  F40306  2023-03-01 00:00:00  2023-03-06  3272.00
10891  F40307  2023-03-06 00:00:00  2023-03-06   504.15
10892     NaN  2023-03-06 00:00:00  2023-03-06   275.68
10893  F40309  2023-03-07 00:00:00  2023-03-07   129.30
10894  F40310  2023-03-01 00:00:00  2023-03-07   517.20

[10895 rows x 4 columns]

In [62]:
filtro9.to_csv("ACTIVIDAD2EJERCICIO5.csv")

In [46]:
##6-Solo las filas de 7001-7099
filtro10=df.iloc[7001:7099,:]


filtro10

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,7001,F36417,5271.0,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06 00:00:00,2021-11-14,NaN,8555.24,0.0,0.0
7002,7002,F36418,5746.0,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14 00:00:00,2021-10-15,NaN,620.77,0.0,0.0
7003,7003,F36419,2163.0,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15 00:00:00,2021-10-15,NaN,560.00,0.0,0.0
7004,7004,F36420,1429.0,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15 00:00:00,2021-12-14,NaN,23625.00,0.0,0.0
7005,7005,F36421,5039.0,E,1.0,2021-10-15 09:07:07.103,2021-10-15,2021-10-08 00:00:00,2022-01-13,NaN,3308.78,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7094,7094,F36510,4480.0,E,2.0,2021-10-27 13:01:57.527,2021-10-27,2021-10-21 00:00:00,2021-11-11,NaN,2904.40,0.0,0.0
7095,7095,F36511,4480.0,E,2.0,2021-10-27 13:07:43.223,2021-10-27,2021-10-27 00:00:00,2021-11-11,NaN,1137.50,0.0,0.0
7096,7096,F36512,8186.0,E,2.0,2021-10-27 13:22:23.980,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,94.84,0.0,0.0
7097,7097,F36513,4403.0,E,2.0,2021-10-27 13:35:40.677,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,847.00,0.0,0.0
7098,7098,F36514,5589.0,E,2.0,2021-10-27 14:02:54.630,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,965.00,0.0,0.0

In [63]:
filtro10.to_csv("ACTIVIDAD2EJERCICIO6.csv")

In [57]:
##7-Index


df11= pd.read_csv('Datos_Facturación.csv', index_col=4)
df11
filtro11=df11.loc[[2,1], ["FECHAELAB"]]
filtro11

                        FECHAELAB
CVE_VEND
2.0       2019-09-03 14:23:45.000
2.0       2019-09-04 10:53:53.000
2.0       2019-09-04 10:56:44.000
2.0       2019-09-04 11:14:44.000
2.0       2019-09-04 12:23:05.000
...                           ...
1.0       2023-02-27 16:53:08.647
1.0       2023-02-28 14:13:31.633
1.0       2023-02-28 16:42:48.163
1.0       2023-03-01 12:58:23.397
1.0       2023-03-03 16:57:28.560

[8665 rows x 1 columns]

In [64]:
filtro11.to_csv("ACTIVIDAD2EJERCICIO7.csv")